*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    top: 0%;
}

h1{
    margin: 0;
}

.header-style{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.logo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 155px;
    height: auto;
    text-align: center;
  }
  
.logo img {
    width: 100%;
    height: auto;
    margin-bottom: 45px;
  }

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 16px "Rubik", sans-serif;
    color: #4a4a4a;
}
    
.menu p a {
    text-decoration: none;
}

.principal-style {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 30px "Rubik", sans-serif;
    background-color: #3CDBC0}
}